<mat-toolbar class="toolbar">
    <span style="font-size:27px">TODO IT</span>
    <span class="example-spacer"></span>
    <button mat-icon-button color="warm" [style.visibility]="home? 'hidden': 'visible'" [routerLink]="['/home']"
        (click)="home = true">
        <mat-icon>home</mat-icon>
    </button>
    <button mat-stroked-button color="accent" [routerLink]="['/register']"
        [style.visibility]="home? 'visible': 'hidden'" (click)="home = false">Register</button>
</mat-toolbar>
<router-outlet></router-outlet>
<footer id="footer" class=''>
    <a color="primary" class="a_footer" target="_blank" href="https://github.com/FacundoSaldivia"> Facundo Saldivia</a>
</footer>