.mat-raised-button {
  margin: 0rem 0.5rem;
}

// .toolbar {
//   background: transparent;
//   color: #272727;
//   background: linear-gradient(180deg, #00000032 0%, #fdfdff00 100%);
// }
// .example-spacer {
//   flex: 1 1 auto;
// }

#footer {
  display: flex;
  position: absolute;
  margin: 5px 0px 0px 0px;
  justify-content: center;
  bottom: 10px;
  width: 100vw;
  a {
    font-size: 100%;
    font-weight: 500;
    text-decoration: none;
    color: #b8bcc4;
  }
}
