<mat-toolbar class="toolbar">
    <button [routerLink]="['/home']" (click)="home = true" class=title-home>TODO IT</button>
    <span class="example-spacer"></span>
    <button mat-stroked-button class="btn-register" [routerLink]="['/register']"
        [style.visibility]="home? 'visible': 'hidden'" (click)="home = false">Sign Up</button>
</mat-toolbar>
<router-outlet></router-outlet>
<footer id="footer" class=''>
    <a color="primary" class="a_footer" target="_blank" href="https://github.com/FacundoSaldivia"> Facundo Saldivia</a>
</footer>