<mat-toolbar color="accent">
    <span style="font-size:27px">TODO IT</span>
    <span class="example-spacer"></span>
    <button mat-raised-button color="primary" [routerLink]="['/home']">home</button>
    <button mat-raised-button color="primary" [routerLink]="['/register']">register</button>
</mat-toolbar>
<router-outlet></router-outlet>
<footer id="footer" class=''>
    <div class="">
        <a target="_blank" href="https://github.com/FacundoSaldivia"> Facundo Saldivia</a>
    </div>
</footer>