/* You can add global styles to this file, and also import other style files */
body
    position: relative
    width: 100%
    display: block
    background-color:#607D8B 
.toolbar
    background: transparent
    color: #272727
    background: linear-gradient(180deg, #00000032 0%, #fdfdff00 100%)
.example-spacer
    flex: 1 1 auto